<a href="https://colab.research.google.com/github/ramirezcpatricia1/List_comprehension2/blob/main/ejercicio_de_pandas3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

In [12]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
          index=[1,7,10,30]
          )

In [13]:
psg_players

1      Navas
7     Mbappe
10    Neymar
30     Messi
dtype: object

In [15]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
         
          )

In [16]:
psg_players

0     Navas
1    Mbappe
2    Neymar
3     Messi
dtype: object

In [18]:
dict={ 1: 'Navas', 7: 'Mbappe', 10:'Neymar', 3:'Messi'}

In [19]:
pd.Series(dict)

1      Navas
7     Mbappe
10    Neymar
3      Messi
dtype: object

In [20]:
psg_players = pd.Series(['Navas', 'Mbappe', 'Neymar', 'Messi'],
         
          )

In [21]:
psg_players[0:3]

0     Navas
1    Mbappe
2    Neymar
dtype: object

In [24]:
dict={'jugador': ['Navas', 'Mbappe', 'Neymar', 'Messi'],
 'altura' : [180.0, 170.0, 168.0, 150.0],
 'goles':[2,200,200,200]}

In [31]:
pd.DataFrame(dict, index=[1,7,10,3])

   jugador  altura  goles
1    Navas   180.0      2
7   Mbappe   170.0    200
10  Neymar   168.0    200
3    Messi   150.0    200